In [1]:
import pandas as pd

data = pd.read_csv('keywords.csv')

data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [2]:
data['daily_shows'] = data['shows'] / 11

data.head()

         keyword     shows   daily_shows
0             вк  64292779  5.844798e+06
1  одноклассники  63810309  5.800937e+06
2          порно  41747114  3.795192e+06
3           ютуб  39995567  3.635961e+06
4      вконтакте  21014195  1.910381e+06

In [3]:
data['ratio'] = data['daily_shows'] / data['shows']

In [4]:
data.head()

         keyword     shows   daily_shows     ratio
0             вк  64292779  5.844798e+06  0.090909
1  одноклассники  63810309  5.800937e+06  0.090909
2          порно  41747114  3.795192e+06  0.090909
3           ютуб  39995567  3.635961e+06  0.090909
4      вконтакте  21014195  1.910381e+06  0.090909

In [5]:
data['ratio'].mean()

0.09090909090910855

In [6]:
del data['ratio']

In [7]:
data = data[ data['keyword'].str.contains('недвиж', case=False) ]
len(data)

142

In [8]:
data.head()

                           keyword  shows  daily_shows
2806      циан недвижимость москва  78729  7157.181818
3054            авито недвижимость  74037  6730.636364
3066                  недвижимость  72984  6634.909091
4273               е1 недвижимость  56277  5116.090909
4912  нгс недвижимость новосибирск  54149  4922.636364

In [9]:
data['split'] = data['keyword'].str.split(' ')

In [10]:
data.head()

,keyword,shows,daily_shows,split
2806,циан недвижимость москва,78729,7157.181818,"[циан, недвижимость, москва]"
3054,авито недвижимость,74037,6730.636364,"[авито, недвижимость]"
3066,недвижимость,72984,6634.909091,[недвижимость]
4273,е1 недвижимость,56277,5116.090909,"[е1, недвижимость]"
4912,нгс недвижимость новосибирск,54149,4922.636364,"[нгс, недвижимость, новосибирск]"

In [11]:
data['word_count'] = data['split'].apply(lambda x: len(x))

In [12]:
data.head()

,keyword,shows,daily_shows,split,word_count
2806,циан недвижимость москва,78729,7157.181818,"[циан, недвижимость, москва]",3
3054,авито недвижимость,74037,6730.636364,"[авито, недвижимость]",2
3066,недвижимость,72984,6634.909091,[недвижимость],1
4273,е1 недвижимость,56277,5116.090909,"[е1, недвижимость]",2
4912,нгс недвижимость новосибирск,54149,4922.636364,"[нгс, недвижимость, новосибирск]",3

In [13]:
data['daily_shows'] = data['daily_shows'].apply(lambda x: int(x))

In [18]:
data['word_count'].value_counts()

3    72
2    25
4    20
5    12
6     7
8     3
9     1
7     1
1     1
Name: word_count, dtype: int64

In [19]:
import pandas as pd

ad_stats = pd.read_excel('ad_campaigns.xlsx')

In [20]:
ad_stats.rename(columns={'Название группы': 'group', 'Фраза (с минус-словами)': 'phrase', 

                         'Продуктивность': 'effect', 'ID объявления': 'ad_id', 'Заголовок': 'title', 

                         'Текст': 'text', 'Ссылка': 'link'}, inplace=True)

ad_stats.head()

,group,phrase,effect,ad_id,title,text,link
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...

In [21]:
url = ad_stats.loc[0, 'link']

In [22]:
from urllib import parse

In [23]:
parsed = parse.urlsplit(url)

parsed

SplitResult(scheme='https', netloc='awesome-site.ru', path='/', query='utm_source=yandex&utm_medium=cpc&utm_campaign=a825749b87&utm_content=dev_{device_type}', fragment='')

In [24]:
print(parsed.netloc)

awesome-site.ru

In [27]:
query_string = parsed.query

In [28]:
params_dict = parse.parse_qs(query_string)

params_dict

{'utm_source': ['yandex'],
 'utm_medium': ['cpc'],
 'utm_campaign': ['a825749b87'],
 'utm_content': ['dev_{device_type}']}

In [29]:
params_dict['utm_campaign'][0]

'a825749b87'

In [30]:
def campaign_name(row):

    """Получение названия кампании из ссылки внутри строки row"""

    parsed = parse.urlsplit(row['link'])

    params_dict = parse.parse_qs(parsed.query)

    return params_dict['utm_campaign'][0]

In [31]:
ad_stats['campaign'] = ad_stats.apply(campaign_name, axis=1)

ad_stats.head()

,group,phrase,effect,ad_id,title,text,link,campaign
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,9cc0c5f6ca
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,9cc0c5f6ca

In [33]:
ad_stats['campaign'].apply(lambda x: len(x)).mean()

10.0

In [34]:
ad_stats['campaign'].value_counts().head()

7f35591a28    456
8e77a0e565    348
2cc2e7d770    240
f6d2ae1e3d    220
e90f4db55a    218
Name: campaign, dtype: int64

In [35]:
ad_stats.groupby('campaign').count().head()

            group  phrase  effect  ad_id  title  text  link
campaign
034ada41b6      3       3       3      3      3     3     3
03fcaecd1d      2       2       2      2      2     2     2
0697a81555      2       2       2      2      2     2     2
08cdcb57a3      3       3       3      3      3     3     3
0f0ba311fb      2       2       2      2      2     2     2

In [36]:
ad_stats.groupby('campaign').count().reset_index().head()

     campaign  group  phrase  effect  ad_id  title  text  link
0  034ada41b6      3       3       3      3      3     3     3
1  03fcaecd1d      2       2       2      2      2     2     2
2  0697a81555      2       2       2      2      2     2     2
3  08cdcb57a3      3       3       3      3      3     3     3
4  0f0ba311fb      2       2       2      2      2     2     2

In [37]:
ad_stats.groupby('campaign').count().reset_index().sort_values('group', ascending=False).head()

       campaign  group  phrase  effect  ad_id  title  text  link
62   7f35591a28    456     456     456    456    456   456   456
69   8e77a0e565    348     348     348    348    348   348   348
22   2cc2e7d770    240     240     240    240    240   240   240
110  f6d2ae1e3d    220     220     220    220    220   220   220
105  e90f4db55a    218     218     218    218    218   218   218

In [39]:
ad_stats.groupby('campaign').sum().sort_values('effect').head()

            effect       ad_id
campaign
63153306ff     2.8  2428554756
f80e902d76     3.3  2101705003
5a7508fa8d     3.5  2428554764
d5b16c7769     3.6  3401169381
7b17b2d188     5.8  2101705006

In [40]:
ad_stats.groupby('campaign').min().sort_values('effect').head()

,group,phrase,effect,ad_id,title,text,link
campaign,,,,,,,
8e77a0e565,1 5 москва мрт тесла,"""!1 !мрт !нагатинский""",1.6,2101705401,МРТ центры в Москве. От 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
7f35591a28,1 градская мрт,"""!1 !градская !мрт""",1.7,2101705009,МРТ в Москве от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
be97523396,мрт в бабушкинском районе,"""!мрт !в !москве !метро !щелковская""",1.8,2101705493,МРТ у метро в Москве от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
d96029561c,круглосуточный мрт в москве,"""!круглосуточный !мрт !в !москве""",1.8,2428555742,МРТ круглосуточно. От 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
acc3077e55,алтуфьево бибирево мрт,"""!алтуфьево !бибирево !мрт""",1.9,2428554791,Томография в Москве. От 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...

In [41]:
ad_stats.groupby('campaign').agg(['min', 'max']).head()

                                        group                                  \
                                          min                             max
campaign
034ada41b6  в москве открытого типа адрес мрт           в недорого москва мрт
03fcaecd1d          сделать мрт сущевский вал       сделать мрт сущевский вал
0697a81555     мрт позвоночника сущевский вал  мрт позвоночника сущевский вал
08cdcb57a3                 мрт в москве в сао                         мрт сао
0f0ba311fb            сделать мрт октябрьский         сделать мрт октябрьский

                                               phrase  \
                                                  min
campaign
034ada41b6  "!в !москве !открытого !типа !адрес !мрт"
03fcaecd1d                    "сделать мрт стромынка"
0697a81555               "мрт позвоночника стромынка"
08cdcb57a3                                "!мрт !сао"
0f0ba311fb               "сделать мрт новослободская"

                                                              effect       \
                                                          max    min  max
campaign
034ada41b6            в москве открытого типа адрес мрт -цена    4.1  9.0
03fcaecd1d                              сделать мрт стромынка    4.0  6.5
0697a81555                         мрт позвоночника стромынка    4.0  5.5
08cdcb57a3  мрт сао -головы -москве -позвоночника -сделать...    5.5  7.4
0f0ba311fb                         сделать мрт новослободская    4.4  6.4

                 ad_id                                          title  \
                   min         max                                min
campaign
034ada41b6  2428554779  2428554779  Адрес МРТ открытого типа в Москве
03fcaecd1d  2101705759  2101705759     Сделайте МРТ на ул. Стромынка!
0697a81555  2101706415  2101706415  МРТ позвоночника на ул. Стромынка
08cdcb57a3  2101705000  2101705000       МРТ в САО от 2000₽. Звоните!
0f0ba311fb  2101705726  2101705726     Сделайте МРТ на Новослободской

                                               \
                                          max
campaign
034ada41b6  Адрес МРТ открытого типа в Москве
03fcaecd1d     Сделайте МРТ на ул. Стромынка!
0697a81555  МРТ позвоночника на ул. Стромынка
08cdcb57a3       МРТ в САО от 2000₽. Звоните!
0f0ba311fb     Сделайте МРТ на Новослободской

                                                         text  \
                                                          min
campaign
034ada41b6  24 часа. От 2 000₽. Консультация врача бесплат...
03fcaecd1d  24 часа. От 2 000₽. Консультация врача бесплат...
0697a81555  24 часа. От 2 000₽. Консультация врача бесплат...
08cdcb57a3  24 часа. МРТ в день обращения. Консультация вр...
0f0ba311fb  24 часа. От 2 000₽. Консультация врача бесплат...

                                                               \
                                                          max
campaign
034ada41b6  24 часа. От 2 000₽. Консультация врача бесплат...
03fcaecd1d  24 часа. От 2 000₽. Консультация врача бесплат...
0697a81555  24 часа. От 2 000₽. Консультация врача бесплат...
08cdcb57a3  24 часа. МРТ в день обращения. Консультация вр...
0f0ba311fb  24 часа. От 2 000₽. Консультация врача бесплат...

                                                         link  \
                                                          min
campaign
034ada41b6  https://awesome-site.ru/?utm_source=yandex&utm...
03fcaecd1d  https://awesome-site.ru/?utm_source=yandex&utm...
0697a81555  https://awesome-site.ru/?utm_source=yandex&utm...
08cdcb57a3  https://awesome-site.ru/?utm_source=yandex&utm...
0f0ba311fb  https://awesome-site.ru/?utm_source=yandex&utm...


                                                          max
campaign
034ada41b6  https://awesome-site.ru/?utm_source=yandex&utm...
03fcaecd1d  https://awesome-site.ru/?utm_source=yandex&utm...
0697a81555  https://awesome-site.ru/?utm_source=yandex&utm...
08cdcb57a3  https://awesome-site.ru/?utm_source=yandex&utm...
0f0ba311fb  https://awesome-site.ru/?utm_source=yandex&utm...

In [42]:
ad_stats.groupby('campaign').agg(['min', 'max'])['effect'].head()

            min  max
campaign
034ada41b6  4.1  9.0
03fcaecd1d  4.0  6.5
0697a81555  4.0  5.5
08cdcb57a3  5.5  7.4
0f0ba311fb  4.4  6.4

In [43]:
ad_stats['phrase_length'] = ad_stats.apply(lambda row: len(row['phrase']), axis=1)

In [44]:
ad_stats.head()

,group,phrase,effect,ad_id,title,text,link,campaign,phrase_length
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87,21
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87,19
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,a825749b87,54
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,9cc0c5f6ca,11
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,9cc0c5f6ca,9

In [45]:
ad_stats.groupby('campaign').agg({'effect': ['min', 'max'], 'phrase_length': 'mean'}).head()

           effect      phrase_length
              min  max          mean
campaign
034ada41b6    4.1  9.0     38.333333
03fcaecd1d    4.0  6.5     22.000000
0697a81555    4.0  5.5     27.000000
08cdcb57a3    5.5  7.4     24.000000
0f0ba311fb    4.4  6.4     27.000000

In [46]:
ad_stats.groupby(['group', 'campaign']).count().head()

                                 phrase  effect  ad_id  title  text  link  \
group                campaign
1 5 москва мрт тесла 777160ba51       1       1      1      1     1     1
                     8e77a0e565       1       1      1      1     1     1
                     f0079349af       1       1      1      1     1     1
1 градская мрт       7f35591a28       3       3      3      3     3     3
1 мрт нагатинский    8e77a0e565       1       1      1      1     1     1

                                 phrase_length
group                campaign
1 5 москва мрт тесла 777160ba51              1
                     8e77a0e565              1
                     f0079349af              1
1 градская мрт       7f35591a28              3
1 мрт нагатинский    8e77a0e565              1

In [47]:
ad_stats.groupby(['group', 'campaign']).count().sort_values('phrase', ascending=False).head()

,,phrase,effect,ad_id,title,text,link,phrase_length
group,campaign,,,,,,,
мрт на алексеевской кулаков переулок 13,7f35591a28,3,3,3,3,3,3,3
мрт каширское шоссе,7f35591a28,3,3,3,3,3,3,3
мрт кутузовский,7f35591a28,3,3,3,3,3,3,3
мрт куркинское шоссе 30,7f35591a28,3,3,3,3,3,3,3
мрт куркино,7f35591a28,3,3,3,3,3,3,3

In [52]:
ad_stats.groupby('campaign').agg({'effect': 'sum'}).sort_values('effect')

            effect
campaign
63153306ff     2.8
f80e902d76     3.3
5a7508fa8d     3.5
d5b16c7769     3.6
7b17b2d188     5.8
6176f4d3bc     6.0
499806bf0f     6.6
da872d1fb4     6.6
2db1121377     6.6
1a39ecc6ce     6.7
10f0dbeae4     6.7
5b0c050763     7.0
a117c5fc1b     7.4
b3f52e6f64     7.5
e2e45b2b2a     7.6
b067aafafd     7.9
1a419ad286     8.1
e2a26d3100     8.1
fedd9b9cc0     8.2
1f39b7a501     8.3
fe6fa9154a     8.4
eb577faed1     8.5
d920f4dfbb     8.6
8b86eb301f     8.6
5d5ece2ab4     9.1
5e6cef260b     9.4
0697a81555     9.5
254567583a    10.1
95ab5f377f    10.5
03fcaecd1d    10.5
...            ...
777160ba51    21.9
9bf072c32b    22.0
3cba0fca70    22.1
f0079349af    23.2
9ee3e2c876    23.3
a5444a2280    24.8
28d8dca4df    25.2
d0712ff587    26.1
6770528fff    28.2
706fcb19c3    29.1
56f3d9eaff    32.7
55188f1274    32.9
6bdff94e84    33.0
88dfb2a17b    33.5
edb6a77e3b    39.3
942cf4ac20    39.5
d96029561c    42.9
8efe80b27c    49.6
90299cb806    63.7
9cc20f7a67    64.5
718ce6a065    74.5
acc3077e55    79.2
8d3a748298   106.1
be97523396   415.4
f6d2ae1e3d   755.3
e90f4db55a   842.0
7388fb4c7b   896.9
2cc2e7d770   966.8
8e77a0e565  1733.6
7f35591a28  2645.3

[115 rows x 1 columns]

ДЗ

In [53]:
data = pd.read_csv('keywords.csv')

In [130]:
data.head(100)

                                keyword     shows       city
0                                    вк  64292779  undefined
1                         одноклассники  63810309  undefined
2                                 порно  41747114  undefined
3                                  ютуб  39995567  undefined
4                             вконтакте  21014195  undefined
5            одноклассники моя страница  19976138  undefined
6                                  майл  15144673  undefined
7                                 авито  14786593  undefined
8                            переводчик  14453469  undefined
9                                яндекс  13344734  undefined
10                      сбербанк онлайн  10725673  undefined
11                                 mail   7687204  undefined
12                                 игры   6075762  undefined
13                              youtube   5729958  undefined
14               вконтакте моя страница   5971451  undefined
15                                 секс   5431732  undefined
16                                 гугл   5175471  undefined
17                                   dr   4880955  undefined
18                          алиэкспресс   4879645  undefined
19                              рамблер   4540421  undefined
20                          фильмы 2016   4486635  undefined
21                               погода   4344510  undefined
22                                   vk   4330448  undefined
23                    ютуб видеохостинг   4215267  undefined
24                                дойки   4133424  undefined
25        одноклассники социальная сеть   4018230  undefined
26                             мультики   3866664  undefined
27                              контакт   3815111  undefined
28                              фейсбук   3669993  undefined
29                          порно видео   3858938  undefined
..                                  ...       ...        ...
70                               укрнет   1645507  undefined
71               сбербанк бизнес онлайн   1725020  undefined
72                               музыка   1627342  undefined
73                              порнуха   1621093  undefined
74                                  кхл   1579765  undefined
75                        рамблер почта   1745874  undefined
76                         яндекс почта   2433207  undefined
77            почта россии отслеживание   1589349  undefined
78                  электронный дневник   1564769  undefined
79                       маша и медведь   1555439  undefined
80                            майнкрафт   1535894  undefined
81                                porno   1486007  undefined
82                 контакт моя страница   1465163  undefined
83                        почта mail ru   1688838  undefined
84                            приват 24   1450660  undefined
85      маша и медведь все серии подряд   1429909  undefined
86                         порно фильмы   1458031  undefined
87                            спортбокс   1399397  undefined
88                  маил ru почта войти   1384794  undefined
89  переводчик с английского на русский   1367888  undefined
90                        русская весна   1375913  undefined
91                           порно фото   1492255  undefined
92                            гидонлайн   1364167  undefined
93                                  ржд   1356183  undefined
94                                  ххх   1342627  undefined
95                               учи ру   1335038  undefined
96              яндекс главная страница   1334744  undefined
97                         однокласники   1320152  undefined
98                   мтс личный кабинет   1766893  undefined
99             скачать музыку бесплатно   1415741  undefined

[100 rows x 3 columns]

In [110]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [126]:
for j in geo_data:
    print(geo_data[j], j)

['москва', 'тула', 'ярославль'] Центр
['петербург', 'псков', 'мурманск'] Северо-Запад
['владивосток', 'сахалин', 'хабаровск'] Дальний Восток

In [143]:
for city in geo_data['Центр']:
    print(city)

москва
тула
ярославль

In [145]:
def result (row): 
    for region in geo_data: 
        for city in geo_data[region]: 
            if city in row['keyword']:
                return region
    return 'undefined'    
    
data['city'] = data.apply(result, axis=1)
data.groupby('city').count().head()

                keyword  shows
city
undefined         99253  99253
Дальний Восток       94     94
Северо-Запад        266    266
Центр               387    387

In [120]:
data.groupby('city').count().head()

           keyword  shows
city
undefined    99716  99716
Центр          284    284