In [1]:
import pandas as pd
%matplotlib inline

In [2]:
data = pd.read_csv('power.csv')

In [3]:
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1